<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <title>Latest VPR Stories</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link href="{{ url_for('static', filename='css/style.css') }}?ver=0.1" rel="stylesheet">
      <link rel="shortcut icon" href="{{ url_for('static', filename='ico/favicon.ico') }}">
  </head>

  <body>
    <header class="site-header" role="banner">
      <div class="wrapper">
        <div class="site-title">Latest VPR Stories</div>
      </div>
    </header>
    {% block content %}{% endblock %}
  </body>
</html>
