{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block content %}


<main class="page-content" aria-label="Content">
  <div class="wrapper">
    <article class="post">

      <div itemscope itemtype="http://schema.org/Article">

        {% for story in stories %}
          <h2 itemprop="headline">{{ story.title }}</h2>
          <h3 itemprop="author">by {{ story.byline.name }}</h3>
          <h3 itemprop="datePublished">{{ story.date }}</h3>

          {% if story.audio %}
            <h4><link itemprop="audio"> {{ macros.player(story.audio.mp3, story.audio.duration, "") }}</h4>
          {% else %}
            <h4>No Audio.</h4>
            <!-- still need to handle this somehow... if there's not audio, a note about it? full text? -->
          {% endif %}
        {% endfor %}

      </div>
    </article>







{% endblock %}
