{% extends "base.html" %}

{% block content %}


<main class="page-content" aria-label="Content">
  <div class="wrapper">
    <article class="post">

      <div itemscope itemtype="http://schema.org/Article">

        {% for story in stories if story.audio %}
          <h2 itemprop="headline">{{ story.title }}</h2>
          <h3 itemprop="author">{{ story.byline.name }}</h3>
          <h3 itemprop="datePublished">{{ story.date }}</h3>
          <h4><a href={{ story.audio['mp3'] }} itemprop="audio">Listen</a></h4>
        {% endfor %}

      </div>
    </article>







{% endblock %}
