{% extends "base.html" %}
{% import "_macros.html" as macros %}

{% block content %}

<div itemscope itemtype="http://schema.org/Article">
  <h1 itemprop="genre">Latest VPR Stories</h1>
    {% for story in stories %}
      <h2 itemprop="headline">{{ story.title }}</h2>
      <h2 itemprop="datePublished">{{ story.date }}</h2>
        {% if story.audio %}
          <link itemprop="audio"> {{ macros.player(story.audio.mp3, story.audio.duration, "") }}
        {% else %}
          <h2>No Audio.</h2>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}
